@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* Alles zur firstsc */
.firstsc {
      background-color: rgba(20,20,22,255);
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 100vh;
}
.imagefirstscmint {
      height: auto;
      width: 18vh;
      margin-top: 10vh;
      cursor: pointer; 
}
.firstsc h2 {
      font-size: 30px;
      font-weight: 400;
      color: white;
      margin-top: 20px;
      font-family: 'Roboto', sans-serif;
}
.firstsc h1 {
      font-size: 20vh;
      margin-top: 6vh;
      font-weight: 400;
      color: white;
      font-family: 'Roboto', sans-serif;
}
.firstsc button {
      background-color: transparent;
      border: none;
      color: white;
      transition: 0.6s;
      margin-bottom: 2vh;
      font-weight: 100;
      position: absolute;
      bottom: 0;
}
.downarrow {
font-size: 10vh;
  line-height: 20px;
}


/* Alles zum Mint Interface */
.wholemintface_mint {
      display: none;
}
.mintInterface {
      display: flex;
      width: 100%;
      height: auto;
      padding-top: 50px;
      padding-bottom: 50px;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      color: white;
      border: none;
      background-color: rgba(0, 0, 0, 0.596);
}
.mintInterface p {
      font-size: 30px;
}
.viewwhitepaper {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      background-color: black;
      height: 200px;
}
.viewwhitepaper button {
      background-color: rgb(219,26,37);
      color: white;
      border: none;
      padding-top: 10px;
      padding-bottom: 10px;
      padding-left: 10px;
      padding-right: 10px;
      border-radius: 10px;
      cursor: pointer;
      font-size: 20px;
}
.mainMintFunction {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      color: white;
}
.logomint {
      height: 200px;
      width: auto;
}
.mainMintFunction div div button {
      width: 20px;
      height: 20px;
      border: none;
      background-color: rgba(255, 255, 255, 0);
      color: white;
      font-size: 20px;
      cursor: pointer;
      
}
.mainMintFunction div div input {
      height: 20px;
      border: none;
      text-align: center;
      background-color: rgba(255, 255, 255, 0);
      color: white;
      font-size: 20px;
}
.mainMintFunction div {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      margin-top: 20px;
      margin-bottom: 20px;
}
.mainMintFunction div div {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: row;
      margin-top: 20px;
      margin-bottom: 20px;
}
.whitelistMintFunction {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
}
.whitelistMintFunction p {
      padding: 10px;
}
.whitelistMintFunction h2 {
      padding: 10px;
      font-size: 30px;
      
}
.whitelistMintFunction div {
      display: flex;
      flex-direction: column;
      align-items: center;
}
.whitelistMintFunction div div {
      display: flex;
      gap: 30px;
      margin-top: 30px;
      margin-bottom: 30px;
      flex-direction: row;
}
.whitelistMintFunction div div  button{
      padding: 5px 10px 5px 10px;
      font-size: 16px;
      color: white;
      cursor: pointer;
      border: none;
      border-radius: 10px;
      background-color: rgb(255, 87, 87);
}
.mintButton {
      margin-top: 20px;
      margin-bottom: 20px;
      font-size: 18px;
      border: none;
      padding: 5px 20px 5px 20px;
      border-radius: 10px;
      background-color: rgb(219,26,37);
      color: white;
      cursor: pointer;
}


.connectFunction {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      color: white;
      margin-bottom: 10px;
}
.connectFunction button {
      margin-top: 20px;
      margin-bottom: 20px;
      font-size: 18px;
      border: none;
      padding: 5px 20px 5px 20px;
      border-radius: 10px;
      background-color: rgb(219,26,37);
      color: white;
      cursor: pointer;
      
}
.connectFunction p {
      font-size: 16px;
      color: white;
      margin: 20px;
      text-align: center;
      line-height: 30px;
}

@media only screen and (max-width: 600px){
      /* phones */
      
      /* Alles zur firstsc */
      .firstsc {
            background-color: rgba(20,20,22,255);
            display: flex;
            flex-direction: column;
            align-items: center;
            height: 100vh;
      }
      .imagefirstscmint {
            height: auto;
            width: 100px;
            margin-top: 10vh;
            cursor: pointer;
      }
      .firstsc h2 {
            font-size: 30px;
            font-weight: 400;
            color: white;
            margin-top: 20px;
      }
      .firstsc h1 {
            font-size: 14vh;
            text-align: center;
            margin-top: 6vh;
            font-weight: 400;
            color: white;
      }
      .firstsc button {
            background-color: transparent;
            border: none;
            color: white;
            transition: 0.6s;
            margin-bottom: 2vh;
            font-weight: 100;
            position: absolute;
            bottom: 0;
      }

      /* Alles zum Footer */

      .Footer {
            display: flex;
            flex-direction: column;
            height: fit-content;
            background-color: rgb(22, 22, 22);
      }
      .Footer div {
            display: flex;
            flex-direction: row;
            align-items: center;
      
      }
      .imagefooter {
            margin: 30px;
      }
      .Footer div ul {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-left: 10px;
            list-style: none;
            gap: 20px;
      }
      .Footer div ul li {
            color: gray;
            transition:all 0.4s ease-in-out;
            font-size: 15px;
      }
      .Footer div ul li:hover {
            color: white;
            transition:all 0.4s ease-in-out;
            font-size: 15px;
      }
      .Footer p {
            color: gray;
            text-align: center;
            padding: 30px;
            font-size: 15px;
      }

}

@media only screen and (max-height: 800px) and (max-width: 1400px) {
      .firstsc button {
            font-size: 90px;
      }
      .imagesc {
            margin-top: 10vh;
      }
      .TheGathering {
            height: 105vh;
      }
      .maintext h2 {
            font-size: 30px;
            color: white;
            margin-bottom: 30px;
      }
      .maintext p {
            font-size: 16px;
            line-height: 19px;
            color: white;
      }
      
}
@media only screen and (max-height: 1100px) and (max-width: 2000px) {
      .firstsc button {
            font-size: 90px;
      }
      .imagesc {
            margin-top: 20vh;
      }
      .TheGathering {
            height: 100vh;
      }
      .maintext h2 {
            font-size: 35px;
            color: white;
            margin-bottom: 30px;
      }
      .maintext p {
            font-size: 18px;
            line-height: 22px;
            color: white;
      }
      
}
@media only screen and (max-height: 900px) and (max-width: 1600px) {
      .firstsc button {
            font-size: 100px;
      }
      .imagesc {
            margin-top: 15vh;
      }
      .TheGathering {
            height: 110vh;
      }
      .maintext h2 {
            font-size: 35px;
            color: white;
            margin-bottom: 30px;
      }
      .maintext p {
            font-size: 16px;
            line-height: 20px;
            color: white;
      }
      
}
@media only screen and (max-height: 900px) and (max-width: 1500px) {
      .firstsc button {
            font-size: 100px;
      }
      .imagesc {
            margin-top: 15vh;
      }
      .TheGathering {
            height: 110vh;
      }
      .maintext h2 {
            font-size: 30px;
            color: white;
            margin-bottom: 30px;
      }
      .maintext p {
            font-size: 16px;
            line-height: 18px;
            color: white;
      }
      
}
@media only screen and (max-height: 750px) and (max-width: 1300px) {
      .firstsc button {
            font-size: 100px;
      }
      .imagesc {
            margin-top: 10vh;
      }
      .TheGathering {
            height: 120vh;
      }
      .maintext h2 {
            font-size: 30px;
            color: white;
            margin-bottom: 30px;
      }
      .maintext p {
            font-size: 16px;
            line-height: 18px;
            color: white;
      }
      
}
@media only screen and (max-height: 1000px) and (max-width: 500px) {
      .firstsc button {
            font-size: 100px;
      }
      .imagesc {
            margin-top: 20vh;
      }
      .TheGathering {
            height: 200vh;
      }
      .maintext h2 {
            font-size: 30px;
            color: white;
            margin-bottom: 30px;
      }
      .maintext p {
            font-size: 16px;
            line-height: 18px;
            color: white;
      }
      .SignUpForm {
            background-color: rgba(46,40,35,255);
      }
      .questionone {
            width: 90%;
      }

}