

/* Alles zur firstsc */
.firstsc {
      background-color: rgba(20,20,22,255);
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 100vh;
}
.imagefirstscmint {
      height: auto;
      width: 130px;
      margin-top: 20vh;
      cursor: pointer;
}
.firstsc h2 {
      font-size: 30px;
      font-weight: 400;
      color: white;
      margin-top: 20px;
}
.firstsc h1 {
      font-size: 200px;
      margin-top: 6vh;
      font-weight: 400;
      color: white;
}
.firstsc button {
      font-size: 10px;
      background-color: transparent;
      border: none;
      color: white;
      transition: 0.6s;
      margin-bottom: 2vh;
      font-weight: 100;
      position: absolute;
      bottom: 0;
}


/* Alles zum Mint Interface */
.mintInterface {
      display: flex;
      width: 100%;
      height: auto;
      padding-top: 50px;
      padding-bottom: 50px;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      color: white;
      border: none;
      background-color: rgba(0, 0, 0, 0.596);
}
.mintInterface p {
      font-size: 30px;
}
.viewwhitepaper {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      background-color: black;
      height: 200px;
}
.viewwhitepaper button {
      background-color: rgb(219,26,37);
      color: white;
      border: none;
      padding-top: 10px;
      padding-bottom: 10px;
      padding-left: 10px;
      padding-right: 10px;
      border-radius: 10px;
      cursor: pointer;
      font-size: 20px;
}
.mainMintFunction {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      color: white;
}
.logomint {
      height: 200px;
      width: auto;
}
.mainMintFunction div div button {
      width: 20px;
      height: 20px;
      border: none;
      background-color: rgba(255, 255, 255, 0);
      color: white;
      font-size: 20px;
      cursor: pointer;
      
}
.mainMintFunction div div input {
      height: 20px;
      border: none;
      text-align: center;
      background-color: rgba(255, 255, 255, 0);
      color: white;
      font-size: 20px;
}
.mainMintFunction div {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      margin-top: 20px;
      margin-bottom: 20px;
}
.mainMintFunction div div {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: row;
      margin-top: 20px;
      margin-bottom: 20px;
}
.whitelistMintFunction {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
}
.whitelistMintFunction p {
      padding: 10px;
}
.whitelistMintFunction h2 {
      padding: 10px;
      font-size: 30px;
}
.whitelistMintFunction div {
      display: flex;
      flex-direction: column;
      align-items: center;
}
.whitelistMintFunction div div {
      display: flex;
      gap: 30px;
      margin-top: 30px;
      margin-bottom: 30px;
      flex-direction: row;
}
.whitelistMintFunction div div  button{
      padding: 5px 10px 5px 10px;
      font-size: 16px;
      color: white;
      cursor: pointer;
      border: none;
      border-radius: 10px;
      background-color: rgb(255, 87, 87);
}
.mintButton {
      margin-top: 20px;
      margin-bottom: 20px;
      font-size: 18px;
      border: none;
      padding: 5px 20px 5px 20px;
      border-radius: 10px;
      background-color: rgb(219,26,37);
      color: white;
      cursor: pointer;
}


.connectFunction {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      color: white;
      margin-bottom: 10px;
}
.connectFunction button {
      margin-top: 20px;
      margin-bottom: 20px;
      font-size: 18px;
      border: none;
      padding: 5px 20px 5px 20px;
      border-radius: 10px;
      background-color: rgb(219,26,37);
      color: white;
      cursor: pointer;
      
}
.connectFunction p {
      font-size: 16px;
      color: white;
      margin: 20px;
      text-align: center;
      line-height: 30px;
}

/* Alles zu The Gathering */

.TheGatheringandSignUpForm {
      height: fit-content;
      background-color: rgba(0, 0, 0, 0.788);
}


.TheGathering {
      height: 110vh;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      z-index: 0;
}
.background_tg {
      max-height: 250vh;
      width: 100%;
      position: absolute;
      z-index: -1;
}
.maintext {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      /* border: 3px solid rgba(0, 0, 0, 0.082); */
      background-color: rgba(0, 0, 0, 0.151); 
      border-radius: 10px;
      width: fit-content;
      padding: 20px;
      z-index: 1; 
}
.maintext h2 {
      font-size: 35px;
      color: white;
      margin-bottom: 30px;
}
.maintext p {
      font-size: 18px;
      line-height: 22px;
      color: white;
}

/* Alles zu Get On The List */

.SignUpForm {
      display: flex;
      background-color: none;
      justify-content: center;
      align-items: center;
      height: 400px;
}
.SignUpForm h3 {
      font-size: 100px;
}


/* Alles zu FAQ */

/* Alles zu FAQ */

.Faq {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-color: black;
      height: max-content;
      padding-bottom: 50px;
}
.Faq h2{
      font-size: 22px;
      margin-top: 30px;
}
.answer5answer{
      display: flex;
      flex-direction: row;
}
.answer5answer p {
      margin-right: 5px;
}
.questionone{
      background-color: none;
      border-radius: 10px;
      width: 50%;
}
.answer {
      display: none;
      font-size: 17px;
      padding: 0px 20px 20px 20px;
      line-height: 30px;
}
.hrlinefaq {
      border: 1px solid #fd6262;
      width: 50%;
}
.questionone button{
      color: white;
      padding: 15px;
      font-size: 19px;
      text-align: left;
      font-weight: 500;
      cursor: pointer;
      background-color: inherit;
      border: none;
      border-radius: 10px;
      width: 100%;
}
.buttonsvgdiv {
      display: flex;
      flex-direction: row;
      align-items: center;
}
.arrowsvg {
      margin-right: 20px;
      width: 16px;
      height: 12px;
}
.answer {
      flex-direction: column;
      align-items: left;
}



/* Alles zum Footer */

.Footer {
      display: flex;
      flex-direction: column;
      height: fit-content;
      background-color: rgba(20,20,22,255);
      border-top: 1px gray solid;
      z-index: 3;
      position: relative;
}
.Footer div {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
     
}
.imagefooter {
      margin-top: 40px;
      margin-bottom: 40px;
}
.Footer div ul {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-top: 40px;
      margin-bottom: 40px;
      list-style: none;
      gap: 60px;
}
.Footer div ul li {
      color: gray;
      transition:all 0.4s ease-in-out;
}
.Footer div ul li:hover {
      color: white;
      transition:all 0.4s ease-in-out;
}
.Footer p {
      color: gray;
      text-align: center;
      padding: 30px;
}

@media only screen and (max-width: 600px){
      /* phones */
      
      /* Alles zur firstsc */
      .firstsc {
            background-color: rgb(22, 22, 22);
            display: flex;
            flex-direction: column;
            align-items: center;
            height: 100vh;
      }
      .imagesc {
            margin-top: 20vh;
      }
      .firstsc h2 {
            font-size: 20px;
            font-weight: 100;
      }
      .firstsc h1 {
            font-size: 0px;
            font-size: 30vw;
            font-weight: 200;
      }
      .firstsc button {
            font-size: 90px;
            background-color: transparent;
            border: none;
            color: white;
            transition: 0.6s;
            margin-top: 0vh;
            bottom: 0;
            margin-bottom: 20px;
            position: absolute;
      }
      .firstsc button:hover {
      
            transition: 0.6s;
            font-size: 90px;     
      }
      /* Alles zu The Gathering */

      .TheGathering {
            height: 200vh;
            display: flex;
            padding-top: 30px;
            padding-bottom: 30px;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            z-index: 0;
            background-color: rgba(46,40,35,255);
      }
      .background_tg {
            height: 110vh;
            max-width: 100%;
            position: absolute;
            z-index: -1;
      }
      .maintext {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            /* border: 3px solid rgba(0, 0, 0, 0.082); */
            background-color: rgba(0, 0, 0, 0.151); 
            border-radius: 10px;
            width: 80%;
            padding: 20px;
            z-index: 1; 
      }
      .maintext h2 {
            font-size: 25px;
            margin-bottom: 10px;
      }
      .maintext p {
            font-size: 15px;
            line-height: 20px;
      }

      /* Alles zu FAQ */

      .App {
            padding-top: 30px;
            padding-bottom: 30px;
            background-color: rgba(46,40,35,255);
      }
      .faqs {
            width: 100%;
            max-width: 1068px;
            margin: 0 auto;
            padding: 15px;
            position: relative;     
      }
      .headingfaq {
            font-size: 25px;
            text-align: center;
            margin-bottom: 20px;
      }
      .faqquestion {
            font-size: 17px;
            font-weight: 400;
            margin: 20px;
            cursor: pointer;
            color: white;
            margin-left: 40px;
            transition: all 0.4 ease;
      }
      #faqhole {
            padding: 10px;
            padding-top: 10px;
            border-radius: 18px;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
            background-color: rgba(0, 0, 0, 0.2);
            margin: 10px;
            margin-top: 0px;
            cursor: pointer;
      }
      .faqs .faq .faqanswer {
            opacity: 0;
            max-height: 0;
            overflow-y: hidden;
            transition: all 0.4s ease-out;
            
      }
      .faqanswer {
            font-size: 15px;
            width: 80%;
            line-height: 24px;   
            transition: all 0.4s ease-out;
      }

      /* Alles zum Footer */

      .Footer {
            display: flex;
            flex-direction: column;
            height: fit-content;
            background-color: rgb(22, 22, 22);
      }
      .Footer div {
            display: flex;
            flex-direction: row;
            align-items: center;
      
      }
      .imagefooter {
            margin: 30px;
      }
      .Footer div ul {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-left: 10px;
            list-style: none;
            gap: 20px;
      }
      .Footer div ul li {
            color: gray;
            transition:all 0.4s ease-in-out;
            font-size: 15px;
      }
      .Footer div ul li:hover {
            color: white;
            transition:all 0.4s ease-in-out;
            font-size: 15px;
      }
      .Footer p {
            color: gray;
            text-align: center;
            padding: 30px;
            font-size: 15px;
      }

}

@media only screen and (max-height: 800px) and (max-width: 1400px) {
      .firstsc button {
            font-size: 90px;
      }
      .imagesc {
            margin-top: 10vh;
      }
      .TheGathering {
            height: 105vh;
      }
      .maintext h2 {
            font-size: 30px;
            color: white;
            margin-bottom: 30px;
      }
      .maintext p {
            font-size: 16px;
            line-height: 19px;
            color: white;
      }
      
}
@media only screen and (max-height: 1100px) and (max-width: 2000px) {
      .firstsc button {
            font-size: 90px;
      }
      .imagesc {
            margin-top: 20vh;
      }
      .TheGathering {
            height: 100vh;
      }
      .maintext h2 {
            font-size: 35px;
            color: white;
            margin-bottom: 30px;
      }
      .maintext p {
            font-size: 18px;
            line-height: 22px;
            color: white;
      }
      
}
@media only screen and (max-height: 900px) and (max-width: 1600px) {
      .firstsc button {
            font-size: 100px;
      }
      .imagesc {
            margin-top: 15vh;
      }
      .TheGathering {
            height: 110vh;
      }
      .maintext h2 {
            font-size: 35px;
            color: white;
            margin-bottom: 30px;
      }
      .maintext p {
            font-size: 16px;
            line-height: 20px;
            color: white;
      }
      
}
@media only screen and (max-height: 900px) and (max-width: 1500px) {
      .firstsc button {
            font-size: 100px;
      }
      .imagesc {
            margin-top: 15vh;
      }
      .TheGathering {
            height: 110vh;
      }
      .maintext h2 {
            font-size: 30px;
            color: white;
            margin-bottom: 30px;
      }
      .maintext p {
            font-size: 16px;
            line-height: 18px;
            color: white;
      }
      
}
@media only screen and (max-height: 750px) and (max-width: 1300px) {
      .firstsc button {
            font-size: 100px;
      }
      .imagesc {
            margin-top: 10vh;
      }
      .TheGathering {
            height: 120vh;
      }
      .maintext h2 {
            font-size: 30px;
            color: white;
            margin-bottom: 30px;
      }
      .maintext p {
            font-size: 16px;
            line-height: 18px;
            color: white;
      }
      
}
@media only screen and (max-height: 1000px) and (max-width: 500px) {
      .firstsc button {
            font-size: 100px;
      }
      .imagesc {
            margin-top: 20vh;
      }
      .TheGathering {
            height: 200vh;
      }
      .maintext h2 {
            font-size: 30px;
            color: white;
            margin-bottom: 30px;
      }
      .maintext p {
            font-size: 16px;
            line-height: 18px;
            color: white;
      }
      .SignUpForm {
            background-color: rgba(46,40,35,255);
      }
      .questionone {
            width: 90%;
      }

}