/* Header */

      .Header {
            position:fixed;
            top: 0;
            z-index: 1;
            width: 100%;
            height: 80px;
            background-color: rgb(22, 22, 22);
            display: flex;
            align-items: center;

      }
      .Header h2 {
            font-size: 22px;
            padding: 20px;
      }
      .link {
            position: absolute;
            right: 0;
            font-size: 18px;
            margin-right: 30px;
            color: rgba(237,36,42,255);
            font-weight: 100;
            border: none;
            cursor: pointer;
            background-color: rgba(255, 0, 0, 0);
      }
      .newsletter_mint {
            background-color: rgba(20,20,22,255);
      }


      .mint {
            background-color: rgba(20,20,22,255);
      }

@media only screen and (max-width: 600px){
      .Header {
            position:fixed;
            top: 0;
            z-index: 1;
            width: 100%;
            height: 80px;
            background-color: rgb(22, 22, 22);
            display: flex;
            align-items: center;
      }
      .link {
            position: absolute;
            right: 0;
            font-size: 18px;
            margin-right: 30px;
            color: rgba(237,36,42,255);
            font-weight: 100;
      }
      .Header h2 {
            padding: 20px;
            font-size: 18px;
      }
}